<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> parametre </title>
    <link rel = "stylesheet" href="/../css/about.css">

  </head>

    <body class="body">
        <div class="header">
            <a class="header-image" href="http://localhost:9999/">
            <img class="logo" src="/../pictures/Logo.svg" alt="Profil Etudiant">
            </a>
        </div>  

        <div class="parametre-form">
            <form name="parametre" method="POST">
                <section class="hero">
                    <div class="form-text">
                        <p class="form-title">À propos de Wizzer Teacher</p>
                    </div>

                    <div class="contenu">
                        <p class="detail">Wizzer Teacher est une plateforme bootcamp à destination des étudiants, enseignants, et alumnis du réseau Mydigitalschool. 
                            Elle a pour but d'améliorer le service pédagogique de l'école en recueillant des exercices, des rendus, et des notes de manière claire et cohérente.</p>
                    </div>

                    <div class="titre1">
                        <p class="t1">Pour les enseignants</p>
                    </div>

                    <div class="contenu">
                        <p class="detail1">Wizzer Teacher permet aux enseignants de gérer les matières, ainsi que les exercices donnés aux étudiants et leurs rendus.
                            L'enseignant répertorie les matières qu'il enseigne (via la fonctionnalité de création de matière) et peut y ajouter des exercices, accompagnés, s'il le souhaite de documentations, de recommandations et d'outils, ainsi qu'une date de rendu.
                            Il pourra accéder directement à tous les rendus de ses étudiants et les récupérer.
                            L'enseignants dispose également de fonctionnalités de commentaires, et de notation, pour apprécier et enregistrer les résultats des exercices.</p>
                    </div>

                    <div class="titre2">
                        <p class="t2">Pour les étudiants</p>
                    </div>

                    <div class="contenu">
                        <p class="detail2">Wizzer Teacher permet aux étudiants d'accéder à tous les exercices demandés par leurs enseignants et de poser leurs rendus. Ils peuvent accéder aux résultats, commentaires, et appréciations liés à leur travail.
                            La plateforme permet de suivre ses notes et les classements des élèves des différentes promotions.
                            Enfin, elle sert également de centre de documentations, qu'il s'agisse d'outils ou documents mis à la disposition des élèves par les enseignants/intervenants, ou d'informations communiqués par l'administration.</p>
                    </div>

                    <div class="titre3">
                        <p class="t3">Pour les alumnis</p>
                    </div>

                    <div class="contenu">
                        <p class="detail3">Wizzer Teacher permet aux alumnis de gérer les dossiers des étudiants relatifs aux résultats scolaires. Ils peuvent avoir accès aux exercices, aux résultats, commentaires et moyennes des étudiants. </p>
                    </div>

                </section>
            </form>

        </div>

    </body>

    <footer class="footer">
        <p> © Wizzer Teacher by My Digital School </p>
    </footer>

</html>
                
