<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Board </title>
  <link rel = "stylesheet" href="/css/main.css">
  <link rel = "stylesheet" href="/css/general.css">
</head>

<body>

  <!-- Utilisateur -->
  <section>
    <img src="/imgs/{{ .infos.Pic }}">
    <p>{{ .infos.Name}}</p>
    <p>{{ .infos.Surname }}</p>
    {{ if eq .student 1 }}
      <p>score: {{ .score }}</p>
    {{ end }}
    <a href="http://localhost:9999/board/params">Paramètres</button>
    <a href="http://localhost:9999/board/disconnect">Déconnexion</a>

  </section>

  <!-- Menus -->
  <section>
    {{ if eq .student 1 }}
      <a href="http://localhost:9999/board"> Exercices du jour</a>
      <a href="/board/student?id={{ .infos.Id}}">Historique</a>
      <a href="http://localhost:9999/board/rank">Classement</a>
    {{ else }}
      <a href="http://localhost:9999/board">Exercices</a>
      <a href="http://localhost:9999/board/rank">Etudiants</a>
      <a href="http://localhost:9999/board/overview">Statistiques</a>
    {{ end }}
  </section>

  <!-- Contenu -->

  <section>
    <h1>EXERCICES</h1>
    <!-- Student -->
    {{ if eq .student 1 }}
      <h2>Liste exos du jour</h2>
      <table>
        <tbody>
          <tr>
            <td>Nom</td>
            <td>Date</td>
            <td>Repo</td>
            <td>Language</td>
            <td>Bareme</td>
          </tr>
          {{ range .exos }}
            <tr class="exo" onclick="this.classList.toggle('showdesc');">
              <td><div class="arrow down"></div>{{ .Name }}</td>
              <td>{{ .Due }}</td>
              <td class="repo" id="repo">{{ .GitPath }}</td>
              <td>{{ .Language }}</td>
              <td>/{{ .Bareme }}</td>
            </tr>
            <tr class="desc"><td>{{ .Description }}</td></tr>
          {{ end }}

          {{ if eq .size 0 }}
            <tr><td>Pas d'exercices prévus pour aujourd'hui</td></tr>
          {{ end }}
        </tbody>
      </table>

      <!-- Prof -->
    {{ else }}
      {{ if eq .student 0 }}
        <a href="http://localhost:9999/board/exercices/add">Ajouter un exo</a>
      {{ end }}

      <h2>Liste exos total avec recherche et modification</h2>
      <form>
        <h2>Rehercher: </h2>
        <label for="date">par date: </label>
        <input type="date" id="date" name="date" value="" min="{{ .first }}" max="{{ .last }}">

        <label for="exo-name">par nom: </label>
        <input type="text" id="exo-name" name="exo-name" placeholder="ex: Exercice 1.1">

        <div id="level">
          <label for="exo-level">par niveau:</label>
          <select name="exo-level" id="exo-level">
            <option value="">-- Tous --</option>

            {{ range .levelsList }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
                
          </select>
        </div>
        <div id="languages">
          <label for="exo-language">par language:</label>
          <select name="exo-language" id="exo-language">
            <option value="">-- Tous --</option>
            {{ range .languagesList }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
      

        </div>

        <button type="submit">Chercher</button>
      </form>

      <table>
        <tbody>
          <tr>
            <td>Nom</td>
            <td>Date</td>
            <td>Repo</td>
            <td>Language</td>
            <td>Niveau</td>
            <td>Bareme</td>
            {{ if eq .student 0}}
              <td>Actions</td>
            {{ end }}
          </tr>
          {{ range .exos }}
            <tr class="exo" onclick="this.classList.toggle('showdesc');">
              <td><div class="arrow down"></div>{{ .Name }}</td>
              <td>{{ .Due }}</td>
              <td>{{ .GitPath }}</td>
              <td>{{ .Language }}</td>
              <td>{{ .Level }}</td>
              <td>/{{ .Bareme }}</td>
              {{ if eq $.student 0 }}
              {{ $crea := printf "%s %s" $.infos.Name $.infos.Surname }}
                {{ if eq .Creator $crea }}
                  <td><a href="http://localhost:9999/board/exercices/edit?&exo-id={{ .Id }}" class="edit">Modifier</a> <a href="http://localhost:9999/board/exercices/del?&exo-id={{ .Id }}" class="delete">Suprimer</a></td>
                {{ end }}
              {{ end }}
            </tr>
              <tr class="desc"><td>{{ .Description }}</td></tr>
          {{ end }}

        {{ if eq .size 0 }}
        <tr><td>Aucun exercice trouvé</td></tr>
        {{ end }}
        </tbody>
      </table>
    {{ end }}
  </section>


  <!-- <div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(168,168,168,.6);" id="hover"></div> -->
    <!-- <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: white;" id="sendform"> -->
      

    <!-- </div> -->
    <!-- ALERT MESSAGES -->
    {{ if eq .is_delete 1 }}
    <div id="hover"></div>
    <div id="sendform">
      {{ if eq .is_send 1 }}
        <!-- display errors -->
        {{ if eq .is_success 1 }}
        <p>Exercice supprimé</p>
        <a href="/board/exercices">OK</a>
        {{ else }}
        <p>Une erreur s'est produite</p>
        <a href="/board/exercices">OK</a>
        {{ end }}
      {{ else }}
        <!-- display confirm window -->
        <form method="post">
          <p>Supprimer l'exercice {{ $.exo_details.Name }}? </p>
          <a href="/board/exercices">Annuler</a>
          <button type="submit">Supprimer</button>
        </form>
      {{ end }}
      </div>
    {{ end }}


    {{ if eq .is_edit 1 }}
      <div id="hover"></div>
        <div id="sendform">
      {{ if eq .is_send 1 }}
        <!-- display errors -->
        {{ if eq .is_success 1 }}

          <p>Exercice modifié</p>
          <a href="/board/exercices">OK</a>
        
        {{ else }}
          <p>Une erreur s'est produite</p>
          <a href="/board/exercices">OK</a>
        {{ end }}
      {{ else }}
        <!-- display edit window -->
        <form method="post">
          <h1>Modifier un exercice</h1>
          <label for="desc">Ennoncé</label>
          <input id="desc" name="desc" type="text" placeholder="Votre énnoncé..." size="500" value="{{ .exo_details.Description }}" required>
  
          <label for="exo-name">Nom de l'exercice</label>
          <input id="exo-name" name="exo-name" type="text" placeholder="ex: Exercice 1" size="250" value="{{ .exo_details.Name }}" required>
  
          <label for="bar">Barème</label>
          <input id="bar" name="bar" type="number" placeholder="ex: 10" size="2" required min="0" max="100" value="{{ .exo_details.Bareme }}" required>
  
          <label for="exo-date">Date de rendu</label>
          <input type="date" id="exo-date" name="exo-date" value="{{ .exo_details.Due }}" required>
  
          <div class="matter">
            <label for="exo-matter">Matière</label>
            <select name="exo-matter" id="exo-matter" required>
              {{ range .mattersList }}
                {{ if eq $.exo_details.Matter . }}
                  <option selected value="{{ $.exo_details.Matter }}">{{ $.exo_details.Matter }}</option>
                {{ else }}
                  <option value="{{ . }}">{{ . }}</option>
                {{ end }}
              {{ end }}
            </select>
            
          </div>
          <div id="languages">
            <label for="exo-language">Language</label>
            <select name="exo-language" id="exo-language" required>
              {{ range .languagesList }}
                {{ if eq $.exo_details.Language . }}
                  <option selected value="{{ $.exo_details.Language }}">{{ $.exo_details.Language }}</option>
                {{ else }}
                  <option value="{{ . }}">{{ . }}</option>
                {{ end }}
              {{ end }}
            </select>
          </div>
          <div id="level">
  
          <label for="exo-level">Niveau</label>
          <select name="exo-level" id="exo-level">
  
            {{ range .levelsList }}
              {{ if eq $.exo_details.Level .}}
                <option selected value="{{ $.exo_details.Level }}">{{ $.exo_details.Level }}</option>
              {{ else }}
                <option value="{{ . }}">{{ . }}</option>
              {{ end }}
            {{ end }}
                
          </select>
          </div>
  
          <label for="repo-path">Dossier github attendu</label>
          <input id="repo-path" name="repo-path" type="text"  value="{{ $.exo_details.GitPath }}" placeholder="ex: /MDSB12022/Exo1" size="500" required>
          <button type="submit">Modifier</button>
          <a href="http://localhost:9999/board/exercices">Annuler</a>
        </form>
      {{ end }}
        </div>

    {{ end }}
    {{ if eq .is_add 1 }}
    <div id="hover"></div>
    <div id="sendform">
      {{ if eq .is_send 1 }}
        <!-- display errors -->
        {{ if eq .is_success 1 }}
          <p>L'exercice a bien été ajouté</p>
          <a href="/board/exercices">OK</a>
        {{ else }}
        <p>Une erreur s'est produite</p>
        <a href="/board/exercices">OK</a>
        {{ end }}
      {{ else }}
        <!-- display add window -->
    
        <form method="post">
          <h1>Ajouter un exercice</h1>
          <label for="desc">Ennoncé</label>
          <input id="desc" name="desc" type="text" placeholder="Votre énnoncé..." size="500" required>
  
          <label for="exo-name">Nom de l'exercice</label>
          <input id="exo-name" name="exo-name" type="text" placeholder="ex: Exercice 1" size="250" required>
  
          <label for="bar">Barème</label>
          <input id="bar" name="bar" type="number" placeholder="ex: 10" size="2" required min="0" max="100" required>
  
          <label for="exo-date">Date de rendu</label>
          <input type="date" id="exo-date" name="exo-date" value="" required>
  
          <div class="matter">
            <label for="exo-matter">Matière</label>
            <select name="exo-matter" id="exo-matter" required>
              <option disabled value="">-- Tous --</option>
              {{ range .mattersList }}
                <option value="{{ . }}">{{ . }}</option>
              {{ end }}
            </select>
            
          </div>
          <div id="languages">
            <label for="exo-language">Langage</label>
            <select name="exo-language" id="exo-language" required>
              <option disabled value="">-- Tous --</option>
              {{ range .languagesList }}
                <option value="{{ . }}">{{ . }}</option>
              {{ end }}
            </select>
          </div>
          <div id="level">
  
          <label for="exo-level">Niveau</label>
          <select name="exo-level" id="exo-level" required>
            <option disabled value="">-- Tous --</option>
  
            {{ range .levelsList }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
                
          </select>
          </div>
  
          <label for="repo-path">Dossier github attendu</label>
          <input id="repo-path" name="repo-path" type="text" placeholder="ex: /MDSB12022/Exo1" size="500" required>
          <button type="submit">Ajouter</button>
          <a href="http://localhost:9999/board/exercices">Annuler</a>
        </form>
        
      {{ end }}
      </div>

    {{ end }}


  <script>

    const params = new URLSearchParams(document.location.search);

    const showInfos = (infos) => {
      let previousName = params.get('exo-name');
      let previousDate = params.get('date');
      if (previousName) document.getElementById('exo-name').value = previousName;
      if (previousDate) document.getElementById('date').value = previousDate;

      showLevels();
      showLanguages();
    }

    function showLevels() {
      let previousLevel = params.get('exo-level');
      if (previousLevel) {
        let select = document.getElementById('exo-level');
        for (let i = 0, j = select.options.length; i < j; i++) {
            if ((i == 0 && previousLevel == "") || select.options[i].value == previousLevel) {
              select.options[i].setAttribute("selected",1);
              break;
            }
        }

      }

    }

    function showLanguages() {
      let previousLangage = params.get('exo-language');
      if (previousLangage) {
        let select = document.getElementById('exo-language');
        for (let i = 0, j = select.options.length; i < j; i++) {
            if ((i == 0 && previousLangage == "") || select.options[i].value == previousLevel) {
              select.options[i].setAttribute("selected",1);
              break;
            }
        }
      }
    }

    window.onload = function() {
      showInfos()

    }

  </script>
  <script type="text/javascript" src="../js/verifGit.js"></script>

</body>

</html>