<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../css/general.css">
</head>
<body>
  <nav>
    <a href="http://localhost:9999/"><img class="logo" src="../pictures/logo.png"></a>
    <a href="http://localhost:9999/connect">Se connecter</a>
    <a href="http://localhost:9999/select-account">Inscription</a>
  </nav>
  <form>
    <label for="connect-id">E-mail du compte</label>
    <input id="connect-id" type="text" placeholder="E-mail">
    <label for="connect-pwd">Mot de passe</label>
    <input id="connect-pwd" type="password" placeholder="Mot de passe">
    <button type="submit">CONNEXION</button>
  </form>
</body>