<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mot de passe oublié </title>
        <link rel = "stylesheet" href="css/main.css">

    </head>


    <body>
        <div class="header">
            <a href="http://localhost:9999/">
            <img src="image/Logo.svg" alt="Profil Etudiant">
            </a>
        </div>  

        <form name="MDPoublie" method="POST">

            <section class="hero">
                <div class="container">
                    <div class="right-col">
                        <h1>MOT DE PASSE OUBLIE ?</h1>  
                    </div>
                </div>

                <h1> PAS DE PANIQUE !</h1>
                <h1> Entrez votre adresse mail ci-dessous et nous vous enverrons un lien de réinitialisation</h1>


                {{ if  eq .send 1 }}
                <div >
                  {{ if eq .ok 0 }}
                      <p>Le mail n'a pas été envoyé, il se peut que cette adresse mail n'apparaît pas dans notre base de données ou qu'un problème technique soit survenu, veillez réessayer ultérieurement.</p>
                {{ else }}
                    <p>E-mail envoyé avec succès, rendez-vous dans votre boîte mail!</p>
                
                    {{ end }}
                </div>
                {{ end }}

                <div>
                <label for="connect-id">Adresse mail</label>
                </div>

                <div>
                    <input title="Dans ce champ, seules les adresses mail sont authorisées" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="connect-id" id="connect-id" type="text" placeholder="ex: alexandradpt@gmail.com" required>
                </div>

                <button type="submit">ENVOYER</button>


            </section>

            <div class="footer">
                <h1> © Wizzer Teacher by My Digital School  </h1>
            </div> 

        </form>

    </body>

</html>