<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Accueil </title>
        <link rel = "stylesheet" href="/../css/index.css">

    <!-- <script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=6xA1Xw9TJYAZk1fr5SavZ-E0erP9JMEFoipmb1W0xfaEJqdQj6SITI9MEyaWmMIqksQzlFOVuUHqXHC7peyfDHcSaCeBji3S7ntDgbXj-3j_Y2nPtw7XB2rZSMHeT2_Cdw2TcSt0h5wTcaI7ZYO6kw" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://me.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvOTM4NTQ2MDA2MTM0NTA5Njg4Lzk1NTkwMzkxOTkyODgwMzMzOC9JbmRleC5odG1s"/> -->
    </head>
    <body class="body">
        <div class="header">
			<div class="header-image">
				<a class="header-image" href="http://localhost:9999/">
					<img class="logo" src="/../pictures/Logo.svg" alt="Profil Etudiant">
				</a>
			</div>
			<div class="btn-index">
				<div class="btn-container">
					<a class="inscription" href="http://localhost:9999/subscribe">Inscription</a>
					<a class="connexion" href="http://localhost:9999/connect">Connexion</a>
				</div>
			</div>  
        </div>

        <div class="accueil">
			<div class="sidebar">
				<div class="sidebar-container">
					<p class="plateforme"> La plateforme </p>
					<ul class="navbar">
						<li><a href="http://localhost:9999/team"> L'équipe</a></li>
						<li><a href="http://localhost:9999/about"> A propos</a></li>
						<li><a href="http://localhost:9999/legal"> Mentions légales</a></li>
					</ul>
				</div>
			</div>
			<div class="main"></div>
        </div>
    
    </body>
	<footer class="footer">
        <p> © Wizzer Teacher by My Digital School </p>
    </footer>  
</html>