<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../css/general.css">
  </head>

  <body>
    <nav>
      <a href="http://localhost:9999/"><img class="logo" src="../pictures/logo.png"></a>
      <a href="http://localhost:9999/connect">Se connecter</a>
      <a href="http://localhost:9999/subscribe">Inscription</a>
    </nav>

    <ul>
      <li><a href="http://localhost:9999/team"> L'équipe</a></li>
      <li><a href="http://localhost:9999/about"> A propos</a></li>
      <li><a href="http://localhost:9999/legal"> Mentions légales</a></li>
  </ul>

    <img class="big-img" src="../pictures/index-big-img.png">

  </body>

</html>