<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> parametre </title>
    <link rel = "stylesheet" href="/../css/ml.css">

  </head>

    <body class="body">
        <div class="header">
            <a class="header-image" href="http://localhost:9999/">
            <img class="logo" src="/../pictures/Logo.svg" alt="Profil Etudiant">
            </a>
        </div>  

        <div class="parametre-form">
            <form name="parametre" method="POST">
                <section class="hero">
                    <div class="form-text">
                        <p class="form-title">Mentions légales et Politique de gestion des cookies</p>
                    </div>

                    <div class="titre">
                        <p class="t">Raison sociale</p>
                    </div>

                    <div class="contenu">
                        <p class="detail">Ce site internet est la propriété de EDUSERVICES, S.A.S. au capital de 25 432 965 euros, RCS Paris B 522 823 681 et dont le siège social se situe 38 rue Anatole France 92300 Levallois-Perret.</p>
                    </div>

                    <div class="titre1">
                        <p class="t1">Responsable de la publication du site</p>
                    </div>

                    <div class="contenu">
                        <p class="detail1">Directeur de publication :</p>
                    </div>

                    <div class="titre2">
                        <p class="t2">Hébergement du site</p>
                    </div>

                    <div class="contenu">
                        <p class="detail2">
                            Société d'hébergement :<br>
                            Adresse :<br>
                            Site :<br>
                        </p>
                    </div>

                    <div class="titre3">
                        <p class="t3">Propriété intellectuelle</p>
                    </div>

                    <div class="contenu">
                        <p class="detail3">La reproduction de tout ou partie de ce site, sur quelque support que ce soit, est formellement interdite sauf accord préalable écrit du directeur de la publication. Le contenu est disponible pour un usage privé et non collectif. </p>
                    </div>

                    <div class="titre4">
                        <p class="t4">Politique de gestion des cookies</p>
                    </div>

                    <div class="contenu">
                        <p class="detail4">Un cookie est un petit fichier texte susceptible d'être enregistré, sur le disque dur de votre terminal (ordinateur, tablette ...) à l'occasion de votre visite sur un site, via votre logiciel de navigation. Il est transmis par le serveur d'un site internet à votre navigateur. A chaque cookie est attribué un identifiant anonyme. Un cookie ne permet pas de remonter à une personne physique. </p>
                    </div>

                    <div class="titre5">
                        <p class="t5">Paramétrer la gestion des cookies </p>
                    </div>

                    <div class="contenu">
                        <p class="detail5">Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre ordinateur et vous demander de les accepter ou pas. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement.
                            Nous vous rappelons que le paramétrage est susceptible de modifier vos conditions d'accès à nos contenus et services nécessitant l'utilisation de cookies.
                            Afin de gérer les cookies au plus près de vos attentes nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies. </p>
                    </div>

                </section>
            </form>

        </div>

    </body>

    <footer class="footer">
        <p> © Wizzer Teacher by My Digital School </p>
    </footer>

</html>
                
