<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mot de passe oublié </title>
    <link rel="stylesheet" href="/../css/CMDP.css">
    <link rel = "stylesheet" href="/../css/erreurnewpsd.css">

</head>


<body class="body">
    <div class="header">
        <a class="header-image" href="http://localhost:9999/">
            <img class="logo" src="/../pictures/Logo.svg" alt="Profil Etudiant">
        </a>
    </div>

    <div class="newpassword-form">
        <form name="newpassword" method="POST">

            <section class="hero">
                <div class="container">
                    <div class="form-text">
                        <p class="form-title">REINITIALISATION DU MOT DE PASSE</h1>
                    </div>
                </div>
                <div id="infos-pwd"></div>
                <div class="password-input">
                    <div><label for="connect-id">Entrez ici votre nouveau mot de passe</label></div>
                    <div><input id="pwd" name="pwd" type="password" placeholder="Mot de passe"></div>
                    <div><label for="pwd-confirm">Confirmez votre nouveau mot de passe</label></div>
                    <div><input id="pwd-confirm" name="pwd-confirm" type="password" placeholder="Mot de passe"></div>
                </div>

                <div class="submit-btn"><button type="submit">VALIDER</button></div>


            </section>

        </form>
    </div>
    <script type="text/javascript" src="/../js/verifPWD.js"></script>

    {{ if eq .send 1 }}
    <div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(168,168,168,.6);"
        id="hover"></div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: white;"
        id="sendform">

        <div class="champ-oublie">
            <div class="form-popup" id="popupForm">
                <form action="/Inscription.html" class="form-container">

                    {{ if eq .ok 1 }}
                    <p class="text">Le mot de passe a bien été réinitialisé, nous vous invitons à vous reconnecter à
                        présent.</p>
                    <a class="btn" href="http://localhost:9999/connect">Par ici!</a>
                    {{ else }}
                    <p class="text">Oh non! Quelque chose ne s'est pas passé comme prévu! Veuillez réessayer
                        ultérieurement en vérifiant les informations entrées dans le formulaire.</p>
                    <a class="btn" href="http://localhost:9999/new-pwd/?token={{ .path }}">Réessayer</a>
                    {{ end }}

                </form>
            </div>
        </div>

    </div>

    {{ end }}
</body>

<footer class="footer">
    <p> © Wizzer Teacher by My Digital School </p>
</footer>

</html>