<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Board </title>
  <link rel = "stylesheet" href="/css/main.css">
  <link rel = "stylesheet" href="/css/general.css">
</head>

<body>

  <!-- Utilisateur -->
  <section>
    <img src="../{{ .infos.Pic }}">
    <p>{{ .infos.Name}}</p>
    <p>{{ .infos.Surname }}</p>

    <a href="http://localhost:9999/board/params">Paramètres</button>
    <a href="http://localhost:9999/board/disconnect">Déconnexion</a>

  </section>

  <!-- Menus -->
  <section>
      <a href="http://localhost:9999/board">Exercices</a>
      <a href="http://localhost:9999/board/rank">Etudiants</a>
      <a href="http://localhost:9999/board/overview">Statistiques</a>
  </section>

  <div> 
    <h2>Rechercher </h2>
    <p><label>Level : </label>
        <select id="selectLevel" onchange="search()">
          <option value="">Tous</option>
          {{ range .levelsList }}
            <option value="{{ . }}">{{ . }}</option>
          {{ end }}
        </select>
    </p>
    <p>
      <label>Formation : </label>
      <select id="selectStudies" onchange="search()">
        <option value="">Tous</option>
        {{ range .studiesList }}
          <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
    </p>
    
  </div>
  <section>
    <h1>Vue d'ensemble</h1>
    <table>
      <tbody>
        <tr>
          <td>Points par matière</td>
          <td>Moyenne du Bootcamp</td>
          <td>Points disponibles</td>
        </tr>
        {{ range .studentScoring.ScoreByLang }}
          <tr>
            <td>{{ .Lang }}</td>
            <td>{{ .Moy }}</td>
            <td>{{ .TotalPoints }}</td>
          </tr>
        {{ end }}


      </tbody>
    </table>

    <h2>Detail des exercices</h2>
    <table>
      <tbody>
        {{ range .studentScoring.DaysDetails }}
          <tr>
            <td>{{ .Date }} </td>
          </tr>
          <tr>
            <td>Nom</td>
            <td>Repo Github</td>
            <td>Language</td>
            <td>Moyenne</td>
          </tr>
          {{ range .Exos }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Repo }}</td>
              <td>{{ .Lang }}</td>
              <td>{{ .Score }}/{{ .Total }}</td>
            </tr>
          {{ end }}

        {{ end }}
      </tbody>
    </table>

  </section>
  <script>
    function search() {
      let level = document.getElementById('selectLevel').selectedOptions[0].value;
      let studies = document.getElementById('selectStudies').selectedOptions[0].value;
      let url = "/board/overview?";
      if (level) url += "exo-level=" + level + "&"
      if (studies) url += "exo-studies=" + studies
      location.href = url;
    }

    window.onload = _ => {
      let params = new URLSearchParams(location.search);
      if (params.has("exo-level")) {
        let level = params.get("exo-level");
        for (let opts of document.getElementById('selectLevel').children) {
          if (opts.value == level) {
            opts.setAttribute('selected', 1);
            break;
          }
        }
      }
      if (params.has("exo-studies")) {
        let studies = params.get("exo-studies");
        for (let opts of document.getElementById('selectStudies').children) {
          if (opts.value == studies) {
            opts.setAttribute('selected', 1);
            break;
          }
        }
      }
    }
  </script>
</body>
